@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
   /* margin: 0; */
   background-color: #333;
   font-family: poppins;
   color: white;
}

h1 {
   margin: 0;
}

.container {
   display: flex;
   justify-content: center;
   max-width: 768px;
   margin: auto;
 }

.card {
   background-color: #fff;
   color: #333;
   border-radius: 15px;
   padding: 40px 50px;
   margin: 20px 0;
   position: relative;
   width: 550px;
 }

 .num-display {
   position: absolute;
   top: -10px;
   left: -10px;
   background-color: #fb00ff;
   width: 55px;
   height: 55px;
  text-align: center;
   border-radius: 50%;
   padding: 10px;
   color: white;
   border: 2px white solid;
   font-size: 22px;
 }

.text-display {
   display: flex;
   justify-content: center;
   align-items: center;
}

.card.dark-mode {
background-color: rgba(0,0,0,0.4);
color: white;
border:#fb00ff 1px solid;
 .num-display {
   border: #fb00ff 2px solid;
   background-color: #ffffff;
   color: black;
 }
}

.close {
   display: flex;
   position: absolute;
   left: 505px;
   top: 5px;
   border: none;
   background-color: transparent;
   height: 35px;
   width: 35px;
   border-radius: 50%;
   align-items: center;
   justify-content: center;
}

.fbStats {
   display: flex;
   justify-content: space-between;
   width: 400px;
}

.btn-Color-purple {
   background-color: #fb00ff;
}

.btn-Color-purple:hover {
   background-color: #fb00ff5f;
}

.btn-secondary {
   background-color: #333;
}

.btn-secondary:hover {
   background-color: #33333371;
}

